body {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;

    & > div {
        border: 2px solid;
        padding: 4rem;
    }
}

hr {
    margin: 2rem 0;
}

button {
    cursor: pointer;
}

p {
    margin-bottom: 2rem;
}
