button-two {
    display: inline-block;
    user-select: none;

    &[type="icon"] {
        & button  {
            background: none;
            box-shadow: none;
        }

        & ss-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    &[disabled],
    &[disabled] button {
        user-select: none;
        background-color: transparent
    }

    & .button {
        font-size: 0.8rem;
        letter-spacing: 0.05em;
        color: var(--ss-button-color, #36393d);
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.8rem 1rem;
        position: relative;
        background-color: var(--ss-button-bgc, transparent);
        transition: background-color var(--ss-transition, 0.2s) ease,
            color var(--ss-transition, 0.2s) ease;
        box-shadow: 0 1px 2px #00000054;
        appearance: none;

        &::before {
            content: '';
            width: 14px;
            height: 14px;
            opacity: 0;
        }

        &:disabled {
            color: var(--ss-button-disabled-color, #999da0);
            background-color: var(--ss-button-bgc-disabled, #f7f7f5);
        }

        &:disabled, &:active {
            animation-duration: .2s;
            animation-name: button-two-activate;
            transition-timing-function: ease;
        }

        &:focus {
            background-color: var(--ss-button-bgc-focus, #f7f7f5);
            outline: none;
        }

        &.spinning {
            pointer-events: none;
            color: transparent !important;
            transition: all 0.3s ease-in;

            &::before {
                margin-top: -8px;
                margin-left: -8px;
                display: inline-block;
                position: absolute;
                top: 50%;
                left: 50%;
                opacity: 1;
                transform: translateX(-50%) translateY(-50%);
                border: 2px solid var(--ss-button-color, #36393d);
                border-radius: 50%;
                border-top-color: transparent;
                animation: spin 1s linear 0s infinite;
                transition: opacity var(--ss-transition, 0.2s) ease;
            }
        }

        &:not([disabled]):hover {
            background-color: var(--ss-button-bgc-hover, #e6e6e6) !important;
            cursor: pointer;
        }

        button-two button:not([disabled]):hover,
        button-two:not(.spinning) button:hover {
            background-color: var(--ss-button-bgc, #36393d) !important;
            cursor: pointer;
        }

    }
}

@keyframes button-two-activate {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
